.grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    justify-content: middle;
    text-align: center;
    height: 300px;
    background-color: #FFF4E3;
}
.grid-c1-item-1 {
    width: 100%;
    margin: auto;
    margin-bottom: 70px;
}

#main-name {
    color: black;
    text-align: center;
}

.button {
    padding: 15px 20px;
    border-radius: 6%;
    background-color: #FFCDAB;
    border: solid 2px #707070;
    color: #222222;
}

.grid-container-3 {
    background-color: #f9f9ff;
}

.lnr{
    color: #222222;
}
